[submodule "sctf_2018_babysyc"]
	path = sctf_2018_babysyc
	url = https://github.com/CTFTraining/sctf_2018_babysyc.git
[submodule "huwangbei_2018_easy_laravel"]
	path = huwangbei_2018_easy_laravel
	url = https://github.com/CTFTraining/huwangbei_2018_easy_laravel.git
[submodule "hctf_2017_deserted_place"]
	path = hctf_2017_deserted_place
	url = https://github.com/CTFTraining/hctf_2017_deserted_place.git
[submodule "xdctf_2015_filemanager"]
	path = xdctf_2015_filemanager
	url = https://github.com/CTFTraining/xdctf_2015_filemanager.git
[submodule "hitcon_2017_ssrfme"]
	path = hitcon_2017_ssrfme
	url = https://github.com/CTFTraining/hitcon_2017_ssrfme.git
[submodule "wdb_2018_unfinish"]
	path = wdb_2018_unfinish
	url = https://github.com/CTFTraining/wdb_2018_unfinish.git
[submodule "wdb_2018_fakebook"]
	path = wdb_2018_fakebook
	url = https://github.com/CTFTraining/wdb_2018_fakebook.git
[submodule "wdb_2018_comment"]
	path = wdb_2018_comment
	url = https://github.com/CTFTraining/wdb_2018_comment.git
[submodule "rwctf_2018_bookhub"]
	path = rwctf_2018_bookhub
	url = https://github.com/CTFTraining/rwctf_2018_bookhub.git
[submodule "starctf_2019_996game"]
	path = starctf_2019_996game
	url = https://github.com/CTFTraining/starctf_2019_996game.git
[submodule "starctf_2019_echohub"]
	path = starctf_2019_echohub
	url = https://github.com/CTFTraining/starctf_2019_echohub.git
[submodule "rctf_2019_nextphp"]
	path = rctf_2019_nextphp
	url = https://github.com/CTFTraining/rctf_2019_nextphp.git
[submodule "rctf_2019_calcalcalc"]
	path = rctf_2019_calcalcalc
	url = https://github.com/CTFTraining/rctf_2019_calcalcalc.git
[submodule "qwb_2019_upload"]
	path = qwb_2019_upload
	url = https://github.com/CTFTraining/qwb_2019_upload.git
[submodule "qwb_2019_supersqli"]
	path = qwb_2019_supersqli
	url = https://github.com/CTFTraining/qwb_2019_supersqli
[submodule "qwb_2019_smarthacker"]
	path = qwb_2019_smarthacker
	url = https://github.com/CTFTraining/qwb_2019_smarthacker.git
[submodule "ciscn_2019_web_northern_china_day2_web1"]
	path = ciscn_2019_web_northern_china_day2_web1
	url = https://github.com/CTFTraining/ciscn_2019_web_northern_china_day2_web1.git
